<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <script src="js/libs/angular.js/angular-resource.js" type="text/javascript"></script>
        <script src="js/libs/angular.js/angular.js" type="text/javascript"></script>
        <title>Service Call Test</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type = "text/css"> table, td, th {border: 1px solid black;} 
    </style>
    <link href="styles/bootstrap.css" rel="stylesheet">
    <link href="styles/AI.css" rel="stylesheet">
    </head>
    <body>
<body ng-app="myModule" ng-controller="myController">
    <script src="js/interestsummcall.js" type="text/javascript"></script>
    <div>{{users}}</div>
    <h1>Debit/Credit Interest</h1>
    <h2>Excluding Money Market</h2>
    
    <div>       
           <li ng-repeat="user in users">
            {{user.AccountDisp}}
            {{user.Description}}
            {{user.FundID}}
            {{user.InterestAmount }}
            {{user.Type}} 
           </li>
    </div>
    <div>
         <table>
             <tr>
                 <th>AccountDisp</th>
                 <th>Description</th>
                 <th>FundID</th>
                 <th>InterestAmount</th>
                 <th>Type</th>
             </tr>
        
           <tbody ng-repeat="user in users">
           <tr>
		<td>{{user.AccountDisp}}</td>
           	<td>{{user.Description}}</td>
           	<td>{{user.FundID}}</td>
           	<td>{{user.InterestAmount }}</td>
           	<td>{{user.Type}} </td></tr>
           </tbody>
         </table>
<div>
    [Help : me]
    <div class="col-sm-6 col-md-4 chart" id="debitCredit"></div>
       <!-- Placed at the end of the document so the pages load faster -->
       <script src="js/libs/bootstrap.js" type="text/javascript"></script>
       <script src="js/libs/jquery.js" type="text/javascript"></script>
       <script src="js/AI.js" type="text/javascript"></script>
       <script src="js/app.js" type="text/javascript"></script>
       <script src="js/highcharts.js" type="text/javascript"></script>
       <script src="js/modules/exporting.js" type="text/javascript"></script>
       <script src="js/modules/drilldown.js" type="text/javascript"></script>
       <script src="js/charting2.js" type="text/javascript"></script>
</body>
</html>
